* {
    outline: 1px solid red;
}

.wrapper {
/ / max-width: 960 px;
/ / margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    min-width: 800px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.logo {

/ / padding: 10 px;
    text-align: center;
    flex: 1 1 auto;

}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 auto;
    list-style: none;
    margin: 0;
/ / padding: 10 px;
}

.menu li {
    padding: 10px;
}

.header-wrap {
    flex: 0 1 100%;
    order: 1;
    height: 100px;
}

.main {
    order: 3;
    flex: 1 1;
}

aside {
    flex: 0 1 200px;

}

.aside-1{order: 2;}
.aside-2{order: 4;}
footer {
    flex: 0 1 100%;
    order: 4;
    height: 100px;
}
